@page "/"

<PageTitle>Oyunlar</PageTitle>

<h1>Oyunlar</h1>

<p>HG.Games içinde zamanla farklı oyunlar olacak. İlk oyunumuz yılan.</p>

<ul>
    <li>
        <NavLink href="snake">Yılan Oyunu</NavLink>
    </li>
    <li>
        <NavLink href="tetris">Tetris</NavLink>
    </li>
</ul>
